@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<nav>
    <label>Jeden</label>
    <label>dwa</label>
    <label>@Model.Name</label>
    <label>@Model.Description</label>
</nav>