@page
@using WebApplication1.TagHelper
@model IndexModel



@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.tmp.Count @Model.tmp.Name</p>

    <label asp-for="Tags.Mail"></label>
    <input asp-for="Tags.Surname" />
    <partial name="_szkielet" for="Product">
</div>
